<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTCN01</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.3.0/css/font-awesome.min.css">
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css"> {{{_sections.css}}}
</head>

<body style="background: #EBECED">
    {{> header this }}
    <form id="frmLogout" method="post" action="/account/logout"></form>
    <div class="container-fluid" style="width: 85%; max-width: none!important; margin-right: auto; margin-left: auto;">
        <div class="row">
            {{{body}}}
        </div>
        <footer>
            <p>&copy; {{now}} - nodejs</p>
        </footer>
    </div>
    <script type="text/javascript" src="/assets/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>