<!-- <div id="fb-root"></div> -->
<!-- Header -->
<div class="container-fluid" style="width: 85%; max-width: none!important; margin-right: auto; margin-left: auto;">
    <div class="row" style="display:flex; background: #189eff;padding-top: 4%;padding-bottom: 3%;">
        <!-- Khung tiêu đề -->
        <div class="col-md-2" style="display:flex;align-items:center;">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <a class="logo" href="index.html">
                    <img src="/Imgs/logo.png" alt="logo">
                </a>
            </div>
        </div>
    <div id="nav" class="row navbar" style="background: #1d71ab;padding-top:1%;padding-bottom:1%;">
        <!-- Navigation bar -->
        <ul style="list-style:none;text-align:center;">
            <li style="width:10%;"><a href="/home">Trang chủ</a></li>
            <li style="width:20%;"><a href="/account/watching">Sản phẩm đang theo dõi</a></li>
            <li style="width:10%;"><a href="/account/newAuction">Đăng bán</a></li>
            <li style="width:10%;"><a href="/account/register">Đăng ký</a></li>
        </ul>
    </div>
    <!-- /Navigation bar -->
    {{{_sections.breadcrumbs}}}
</div>